@use '../../../styles/utilities/mixins' as *;
@use '../../../styles/utilities/variables' as *;

.greetingWidget {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem 1.5rem;
  @include for-md-screen-up {
    margin-right: 8%;
    width: 50%;
  }
  h1 {
    color: $black-primary;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 1.1;
    @include for-md-screen-up {
      font-size: 4.5rem;
    }
    span {
      pointer-events: none;
      text-transform: capitalize;
      word-break: break-all;
      @include for-sm-screen {
        display: inline-block;
      }
      &.isEditMode {
        background-color: #eb8344;
        cursor: pointer;
        pointer-events: all;
      }
    }
  }
  .quote {
    color: $black-primary;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.6;
    margin-top: 1rem;
    @include for-md-screen-up {
      margin-top: 2rem;
    }
  }
  &.night {
    background: rgba(0, 0, 0, 0.3);
    h1 {
      color: $white-primary;
      text-shadow: 0px 0px 6px rgb(255, 255, 255, 0.8);
    }
    .quote {
      color: $white-primary;
      text-shadow: 0px 0px 6px rgb(255, 255, 255, 0.8);
    }
  }
}
